.input-bar {
   display: flex;
   justify-content: space-around;
   padding: 1em 0;
   &__field {
      border: 0;
      border-radius: 5em;
      font-size: 1.8rem;
      width: 70%;
      padding: 0.3em 1em;
   }
   &__button {
      border: 0;
      background: none;
      cursor: pointer;
   }
   &__icon {
      @mixin input-icon-mx {
         display: block;
         width: 3em;
         aspect-ratio: 1/1;
      }
      &-send {
         @include input-icon-mx();
         mask: url(../../assets/svgs/SendIcon.svg);
         mask-size: 100%;
      }
      &-delete {
         @include input-icon-mx();
         mask: url(../../assets/svgs/DeleteIcon.svg);
         mask-size: 100%;
      }
   }
}
